<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.karacca.beetle">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>

        <activity
            android:name="com.karacca.beetle.ui.BeetleActivity"
            android:theme="@style/BeetleStyle"/>

    </application>

</manifest>
